:root {
	--yelllow: hsl(33, 87%, 56%);
	--orange: hsl(10, 86%, 67%);
	--green: hsl(171, 46%, 52%);
	/* COLORS */
	--accent-color-hue: 171;
	--accent-color-sat: 46%;
	--accent-color-light: 52%;

	--clr-accent-700: hsla(
		var(--accent-color-hue),
		var(--accent-color-sat),
		var(--accent-color-light),
		1
	);
	--clr-accent-500: hsla(
		var(--accent-color-hue),
		var(--accent-color-sat),
		var(--accent-color-light),
		0.7
	);
	--clr-accent-300: hsla(
		var(--accent-color-hue),
		var(--accent-color-sat),
		var(--accent-color-light),
		0.3
	);

	--clr-accent: var(--clr-accent-700);
	--clr-accent-light: var(--clr-accent-500);

	--clr-primary-500: hsla(0, 0%, 0%, 0);

	--clr-neutral-100: hsl(0, 0%, 100%, 1);
	--clr-neutral-300: hsla(0, 0%, 0%, 0.4);

	/* FONTS */
	/* --ff-primary: 'Poppins', sans-serif; */
	--ff-primary: 'Inter', sans-serif;
	--ff-body: var(--ff-primary);
	--ff-heading: var(--ff-primary);

	--fw-light: 400;
	--fw-regular: 500;
	--fw-semi-bold: 600;
	--fw-bold: 700;

	--fs-400: 0.875rem;
	--fs-500: 1rem;
	--fs-600: 1.875rem;
	--fs-700: 2.5rem;
	--fs-800: 3.5rem;

	--fs-body: var(--fs-400);
	--fs-primary-heading: var(--fs-700);
	--fs-secondary-heading: var(--fs-600);
	--fs-nav: var(--fs-500);
	--fs-button: var(--fs-600);
}

@media (min-width: 50em) {
	:root {
		--fs-body: var(--fs-500);
		--fs-primary-heading: var(--fs-800);
		--fs-secondary-heading: var(--fs-700);
		--fs-nav: var(--fs-500);
		--fs-button: var(--fs-600);
	}
}

/* Utility classes */
.text-primary-500 {
	color: var(--clr-primary-500);
}
.text-accent-300 {
	color: var(--clr-accent-300);
}
.text-accent-500 {
	color: var(--clr-accent-500);
}
.text-neutral-100 {
	color: var(--clr-neutral-100);
}
.text-neutral-400 {
	color: var(--clr-neutral-400);
}

.bg-primary-500 {
	background-color: var(--clr-primary-500);
}
.bg-accent-300 {
	background-color: var(--clr-accent-300);
}
.bg-accent-500 {
	background-color: var(--clr-accent-500);
}
.bg-neutral-100 {
	background-color: var(--clr-neutral-100);
}
.bg-neutral-400 {
	background-color: var(--clr-neutral-400);
}

.fw-bold {
	font-weight: var(--fw-bold);
}
.fw-semi-bold {
	font-weight: var(--fw-semi-bold);
}
.fw-regular {
	font-weight: var(--fw-regular);
}
.fw-light {
	font-weight: var(--fw-light);
}

.fs-primary-heading {
	font-size: var(--fs-primary-heading);
}
.fs-secondary-heading {
	font-size: var(--fs-secondary-heading);
}

.fs-400 {
	font-size: var(--fs-400);
}
.fs-500 {
	font-size: var(--fs-500);
}
.fs-600 {
	font-size: var(--fs-600);
}
.fs-700 {
	font-size: var(--fs-700);
}

.flex {
	display: flex;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

html {
	overflow-y: scroll;
}

body {
	font-family: var(--ff-primary);
	font-size: 1.25rem;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: var(--ff-heading);
}

h1 {
	font-size: 3.375rem;
	font-weight: 700;
	margin: 0 0 3rem;
}

h2 {
	font-size: 2.75rem;
	font-weight: 700;
}

h3 {
	font-size: 1.5rem;
	font-weight: 700;
}

b {
	font-weight: 700;
}

.even-columns {
	display: flex;
	flex-direction: column;
	max-width: min(100vw, 1200px);
}

.even-columns > * {
	/* flex-basis: 100%; */
	width: 100%;
}

@media (min-width: 50em) {
	.even-columns {
		display: flex;
		flex-direction: row;
	}

	.even-columns > * {
		flex-basis: 100%;
	}
}

.focus {
	color: var(--clr-accent) !important;
}

section {
	/* border-top: 1px solid #666; */
	/* border-bottom: 1px solid #666; */
	padding: 3.75rem 0;
	margin: 0 auto;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 1.25rem;
}

.centered {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.full-bleed {
	box-shadow: 0 0 0 100vmax #fff;
	clip-path: inset(0 -100vmax);
}

main {
	padding: 120px 0 0;
}

.no-padding {
	padding: 0;
}

.btn {
	display: block;
	width: max-content;
	padding: 18px 30px;
	/* align-self: center; */
	border-radius: 10px;
	transition: box-shadow 0.3s ease-out, border-color 0.3s ease-out;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	cursor: pointer;
	margin: 2rem 0;
}

.btn--white {
	background-color: #fff;
	color: #000;
	border: 2px #000;
}

.hide-on-mobile {
	display: none;
}
.hide-on-desktop {
	display: block;
}

@media (min-width: 50em) {
	.hide-on-mobile {
		display: inherit;
	}
	.hide-on-desktop {
		display: none;
	}
}

/* Utiliites */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap; /* added line */
	border: 0;
}

.homepage .word-spin {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	overflow: hidden;
	height: 44px;
}

.homepage .words {
	/* overflow: hidden;? */
}

.homepage span,
.hero-text h1 {
	font-size: 2.25rem;
	line-height: 44px;
	font-weight: 600;
	text-shadow: 0 0 5px #666;
	margin: 0;
}

.homepage span {
	color: var(--green);
	/* transform: translateY(-82%); */
	display: block;
	animation: spin_words 6s infinite;
	padding-left: 10px;
	height: 44px;
	text-align: start;
	width: fit-content;
	/* border: 1px solid white; */
}

/* 1% */
/* 101% */
/* 201% */

@keyframes spin_words {
	13% {
		transform: translateY(-112%);
	}
	33% {
		transform: translateY(-101%);
	}
	46% {
		transform: translateY(-212%);
	}
	66% {
		transform: translateY(-201%);
	}
	80% {
		transform: translateY(-312%);
	}
	100% {
		transform: translateY(-301%);
	}
}
